

.tablepanier {
	margin-top: 52px;
	margin-left: 100px;
	margin-right: 400px;
}
.tailleimg{
	width: 90px;	
}
.colproduct{
	padding-left: 10px;
}
#suppr{
	margin-left: 10px;
}
.logolivraison{
	width: 80px;
}