.text{
    text-align: center;
    margin-top: 60px;
}

.displ{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.footer {
   
    width: 100%;
    background-color: rgb(73, 57, 57);
    color: white;
    text-align: center;
    margin-top: 20px;
    height: 50%;
}

.textfoot{
    margin-bottom: 0;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.log{
    width: 20%;
}

.aline{
    display: flex;
}

.panier{
    margin-top: 20px;
    color: black;
}

.modalimg{
    width: 100%;
}

.promodal{
    display: flex;
    justify-content: space-between;
}

.imgcontent{
    width: 20%;
}

.listprod{
    margin-bottom: 0px;
}

.formqtt{
    width: 20%;
}

.usersign{
    margin-top: 10%;
}

.colortitr{
    color: rgb(212, 197, 190);
}

.colortitr2 {
    color: rgb(126, 140, 168);
}

.colortitr3 {
    color: rgb(66, 40, 3);
}

.colortitr4 {
    color: white;
}

.soustitre{
    font-style: italic;
}

.logfoot{
    width: 25%;
}

.foot{
    display: flex;
    justify-content: space-around;
}

.padfoot{
    margin-top: 30px
}

.textprodM{
    text-align: center;
}

.listcol{
    font-style: italic;
    color: green;
}


.propotext {
    text-align: justify;
    font-size: 1em;
    margin-top: 60px;
}

.propotail{
    font-size: 0.8em;
    margin-left: 2%;
    margin-right: 2%;
}

.logfooter{
    width: 7%;
    padding-top: 14px;
    margin-left: 40px;
}

.sgs{
    width: 100%;
}

.footpix {
    font-size: 0.8em;
    color: white;
    margin-left: 40px;
}

.textfooter{
    color: white;
}